<div class="mt-10">
  <form [formGroup]="formFilters" class="space-y-6" action="#" method="POST">
    <div class="contenedor">
      <div>
        <label
          for="countries"
          class="block mb-2 text-sm font-medium text-gray-900"
          >Tipo</label
        >
        <select
          formControlName="tipo"
          id="tipo"
          class="bg-gray-50 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
        >
          <option selected value="">Seleccione un tipo</option>
          <option value="Salon">Salon</option>
          <option value="Sala">Sala</option>
          <option value="Auditorio">Auditorio</option>
          <option value="Exterior">Exterior</option>
        </select>
      </div>
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Capacidad</label
        >
        <div class="mt-2">
          <input
            id="capacidad"
            name="capacidad"
            type="text"
            autocomplete="capacidad"
            required
            formControlName="capacidad"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Fecha inicio</label
        >
        <div class="mt-2">
          <input
            id="fecha_inicio"
            name="fecha_inicio"
            type="date"
            autocomplete="fecha_inicio"
            required
            formControlName="fecha_inicio"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div>
        <label
          for="email"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Fecha fin</label
        >
        <div class="mt-2">
          <input
            id="fecha_final"
            name="fecha_final"
            type="date"
            autocomplete="fecha_final"
            required
            formControlName="fecha_final"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>
      <div>
        <button
          style="margin-top: 2em"
          type="button"
          (click)="loadEvents()"
          class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Filtrar
        </button>
      </div>
    </div>
  </form>
  <br />
  <div class="contenedor">
    <div
      *ngFor="let item of events"
      class=" mt-5 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white-800 dark:border-gray-700"
    >
      <a href="#">
        <img *ngIf="item.foto != ''" class="rounded-t-lg" src="{{ urlMedia }}{{ item.foto }}" alt="" />
        <img *ngIf="item.foto == ''" class="rounded-t-lg" src="../../../assets/img/salon.jpeg" alt="" />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-black"
          >
            {{ item.nombre }}
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ item.descripcion }}
        </p>
        <div class="tags">
          <span
            class="bg-blue-100 text-black-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-white-900 dark:text-black-300"
            >tipo: {{ item.tipo }}</span
          >
          <span
            class="bg-blue-100 text-black-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-white-900 dark:text-black-300"
            >capacidad: {{ item.capacidad }}</span
          >
        </div>
        <br />
        <br />
        <div class="contenedor">
          <router-link [routerLink]="['/espacio/', item.id]">
            <a
              target="_blank"
              class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
              Saber mas
              <svg
                class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 14 10"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M1 5h12m0 0L9 1m4 4L9 9"
                />
              </svg>
            </a>
          </router-link>

          <router-link [routerLink]="['/crear-reserva/espacio/', item.id]">
            <button
              class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              type="button"
            >
              Reservar
            </button>
          </router-link>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="contenedor">
    <!-- <pagination-controls
      previousLabel="Anterior"
      nextLabel="Siguiente"
      (pageChange)="p = $event"
    ></pagination-controls> -->
  </div>
</div>
